
.container-fluid .no-padding {
    padding: 0;
    border: 0;
    margin: 0;
}

#toolbar {
    background-color: lightgray;
    height: 100px;
    position: relative;
    padding: 0;
    margin: 0;
}

.virtical-centered-div {
    display: flex;
    align-items: center;
}

.toolbar-icon {
    border: 0;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    height: 90px;
}
