<div class="container-fluid">
    <!-- Toolbar -->
    <div class="row align-items-center" role="banner" id="toolbar">
        <!-- Home button -->
        <div class="col-sm-2 col-md-2">
            <a href="/index.html">
                <img class="img-fluid toolbar-icon" alt="My Shop Home" src="../assets/home-button.png" id="home-button" />
            </a>
        </div>

        <!-- Search bar -->
        <div class="row col-7">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
            </div>
        </div>

        <!-- <div class="no-padding text-right ml-auto col-sm-3 col-md-3"> -->
        <div class=" no-padding text-right ml-auto col-3 row">
            <div class="virtical-centered-div col-4">
                <button type="button" class="btn btn-primary btn-sm">Login</button>
            </div>
            <!-- Login/Profile button -->
            <!-- <div class="col-4">
                <a href="/login">
                    <img class="img-fluid toolbar-icon" alt="Login" src="../assets/login-icon.png" id="login-button" />
                </a>
            </div> -->

            <!-- Shopping Cart button -->
            <div class="col-8">
                <a href="/shopping-cart">
                    <img class="img-fluid toolbar-icon" alt="Shopping Cart" src="../assets/shopping-cart-icon.svg" id="shopping-cart-button" />
                </a>
            </div>
        </div>
    </div>

    <!-- Display the current column breakpoint. -->
    <div class="row" style="padding: 100px;">
        <div class="col-12 d-block d-sm-none">
            <h1>Size: X-Small</h1>
        </div>
        <div class="col-sm-12 d-sm-block d-none d-md-none">
            <h1>Size: Small</h1>
        </div>
        <div class="col-md-12 d-md-block d-none d-lg-none">
            <h1>Size: Medium</h1>
        </div>
        <div class="col-lg-12 d-lg-block d-none d-xl-none">
            <h1>Size: Large</h1>
        </div>
        <div class="col-xl-12 d-xl-block d-none">
            <h1>Size: X-Large</h1>
        </div>
        <div class="col-xxl-12 d-xxl-block d-none">
            <h1>Size: XX-Large</h1>
        </div>
    </div>

</div>