<!-- Display the current column breakpoint. -->
<div class="row fixed-bottom p-5">
    <div class="col-12 d-block d-sm-none">
        <h1>Size: X-Small</h1>
    </div>
    <div class="col-sm-12 d-sm-block d-none d-md-none">
        <h1>Size: Small</h1>
    </div>
    <div class="col-md-12 d-md-block d-none d-lg-none">
        <h1>Size: Medium</h1>
    </div>
    <div class="col-lg-12 d-lg-block d-none d-xl-none">
        <h1>Size: Large</h1>
    </div>
    <div class="col-xl-12 d-xl-block d-none d-xxl-none">
        <h1>Size: X-Large</h1>
    </div>
    <div class="col-xxl-12 d-xxl-block d-none">
        <h1>Size: XX-Large</h1>
    </div>
</div>